*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# thêm mới
*.apk
*.aab
*.ap_
output.json

mapping.txt
seeds.txt

*.log
*.tmp
*.bak
*.swp
*.orig

crashlytics-build.properties
fabric.properties

node_modules/
npm-debug.log
yarn-error.log

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

